.row {
    padding-bottom: 1em;
}
.right-margin {
    margin-right: 0.5em;
}
.mm-label {
    font-size: 14px;
    font-weight: normal;
}
.pointer {
    cursor: pointer;
}

body {
    padding-top: 70px;
}